.image {
    margin: 0 auto;
}

.chatInput {
    width: 65%;
}

.hidden {
    visibility: hidden !important;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 2rem;
    max-width: 56rem;
    margin: 0 auto;
  }
  
  .chat_message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  
  .chat_question {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
  
  .chat_message .message_text{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .chat_question .message_text {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #deffcc;
    font-size: 1.2rem;
    line-height: 1.5;
  }